<style>

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .app {
    margin-top: 20px;
    width: 400px;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    margin-bottom: 10px;
    padding-top: 10px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .chat {
    min-height: 60px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    cursor: pointer;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    font-weight: bold;
    border-radius: 5px;
  }
</style>


<div class="container">
  <div class="row">
    <div class="app px-3">
      <div class="col-lg-12 col-md-12">
        <div *ngFor="let item of chats" class="chat mb-3">
          <span>{{ item.personName }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
